@charset "utf-8";

/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

/*Brand Colors*/
$box-background:#395665;
$box-foreground:#fef4c8;
$hover-foreground: #111A22;
$hover: #e09a25;
$background: #243742;
$foreground: #EABC6C;

/*Font Sizes*/

$multi4k:1.4;
$pDeskSize:calc(16px * $multi4k);
$h1DeskSize:calc(20px * $multi4k);
$h2DeskSize:calc(18px * $multi4k);

$multiHD:1.3;
$pDeskSize:calc(16px * $multiHD);
$h1DeskSize:calc(20px * $multiHD);
$h2DeskSize:calc(18px * $multiHD);

$multiplier:1.2;
$pDeskSize:calc(16px * $multiplier);
$h1DeskSize:calc(20px * $multiplier);
$h2DeskSize:calc(18px * $multiplier);

$multiTablet:1.1;
$pTabletSize:calc(16px * $multiTablet);
$h1TabletSize:calc(20px * $multiTablet);
$h2TabletSize:calc(18px * $multiTablet);

$multiPhone:1.0;
$pPhoneSize:calc(16px * $multiPhone);
$h1PhoneSize:calc(20px * $multiPhone);
$h2PhoneSize:calc(18px * $multiPhone);

/*Other Properties*/
$shadow:2px 2px 5px rgba(0, 0, 0, 0.4);
$shadow2:2px 2px 5px rgba(0, 0, 0, 0.7);
$borderRadius: 12px;

/*Grid Widths*/
$closewidth: 10px;
$gridwidth: 30px;

/*Fonts*/
@font-face {
	font-family: 'Goudy-Bookletter';
	src: url('../fonts/goudy-bookletter1911.otf') format('opentype');
}
/*Element Defaults and Overrides*/
html{
    width:100%; /*chromium engine bug fix*/
    height:auto;
    margin: 0 auto;
    padding: 0;
}
ol, ul{
    margin-left: 35px;
}
/*Font Configurations*/
h1, h2, h3, h4, h5, h6, p, li{
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: $shadow;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: $closewidth;
    color: $foreground;
    font-weight: 500;
    font-family: "Goudy-Bookletter", sans-serif;
}
p, li, a{
    font-weight: 300;
    font-size: $pPhoneSize;
    @media screen and (min-width: 600px){
        font-size: $pTabletSize
    }
    @media screen and (min-width: 1025px){
        font-size: $pDeskSize;
    }
}
p, li{
    color:$foreground;
}
i{
    color: $box-foreground;
}
a{
    text-decoration: none;
    color: $box-foreground;
    padding:$closewidth;
    background-color: $box-background;
    box-shadow: $shadow;
    border-radius: $borderRadius;
    display:block;
    text-align: center;
    width:100%;
    text-shadow: $shadow2;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: $hover-foreground;
        background-color: $hover;
        i{
            color: $hover-foreground;
        }
    }
    
}
h1{
    font-size: $h1PhoneSize;
    @media screen and (min-width: 600px){
        font-size: $h1TabletSize
    }
    @media screen and (min-width: 1025px){
        font-size: $h1DeskSize;
    }
}
h2{
    font-size: $h2PhoneSize;
    @media screen and (min-width: 600px){
        font-size: $h2TabletSize
    }
    @media screen and (min-width: 1025px){
        font-size: $h2DeskSize;
    }
}
body{
    background-color: $background;
    #navbar-plh{
        .navbar{
            display:flex;
            flex-direction: column;
            align-items: center;
            .logo{
                max-width:400px;
                height:auto;
                margin:$gridwidth;
                margin-bottom: 0;
                display:flex;
                -webkit-filter: drop-shadow($shadow);
                filter: drop-shadow($shadow);
                
            }
            nav{
                width:calc(100% - ($gridwidth * 2));
                margin: $gridwidth;
                max-width:1431px;
                @media screen and (min-width: 1025px){
                    display:flex;
                    justify-content: center;
                }
                ul{
                    width:100%;
                    padding:0;
                    margin:0;
                    text-decoration: none;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    @media screen and (min-width: 600px){
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                    @media screen and (min-width: 1025px){
                        max-width: calc(100% - ($gridwidth*2));
                    }
                    li{
                        width: calc((100% / 1));
                        margin: calc($closewidth / 2) 0;
                        @media screen and (min-width: 600px){
                            width: calc((100% / 4) - $closewidth);
                            margin: calc($closewidth / 2);
                        }
                        @media screen and (min-width: 1025px){
                            width: calc((100% / 4) - $closewidth);
                        }
                        @media screen and (min-width: 1500px){
                            width: calc((100% / 7) - $closewidth);
                        }
                    }
                }
            }
        }
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        height:max-content;
        margin:0 $gridwidth;
        max-width:1000px;
        @media screen and (min-width: 1060px){
            margin: 0 auto;
        }
        .print-kindle{
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            @media screen and (min-width: 600px){
                flex-direction: row;
                flex-wrap: wrap;
            }
            .pk-card{
                width:calc(100vw - (2 * $gridwidth));
                @media screen and (min-width: 600px){
                    width:calc(((100% - ($gridwidth * 2)) / 2) - $closewidth);
                    
                }
                height:max-content;
                padding: $gridwidth 0;
                width:100%;
                border-radius: $borderRadius;
                -webkit-border-radius: $borderRadius;
                -moz-border-radius: $borderRadius;
                -ms-border-radius: $borderRadius;
                -o-border-radius: $borderRadius;
                a{
                    background-color: $background;
                    &:hover{
                        background-color: $foreground;
                        color: $background;
                    }
                }
                .inner{
                    background-color: $box-background;
                    height:100%;
                    width:100%;
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    padding:$closewidth;
                    border-radius: $borderRadius;
                    -webkit-border-radius: $borderRadius;
                    -moz-border-radius: $borderRadius;
                    -ms-border-radius: $borderRadius;
                    -o-border-radius: $borderRadius;
                    @media screen and (min-width: 1025px){
                        justify-content: space-between;
                        
                    }
                    img{
                        width: 100%;
                        height:auto;
                        border-radius: $borderRadius;
                        margin: 0;
                        -webkit-border-radius: $borderRadius;
                        -moz-border-radius: $borderRadius;
                        -ms-border-radius: $borderRadius;
                        -o-border-radius: $borderRadius;
                        padding:0;
                        box-shadow: $shadow;
                        @media screen and (min-width: 1025px){
                            width: 50%;
                            
                        }
                    }
                    h2{
                        text-shadow: $shadow2;
                        color: $box-foreground;
                    }
                    a{
                        color: $foreground;
                        &:hover{
                            color: $hover-foreground;
                            background-color: $hover;
                        }
                    }
                }
            }
        }
        .review{
            margin: 0 $gridwidth;
            .review-text{
                .quotert{
                    width:28px;
                    font-size:2em;
                    text-align: end;
                    margin: 0 0 0 calc(100% - 28px);
                }
                i{
                    font-size: 2em;
                    margin: $closewidth 0;
                    color:$foreground;
                }
                .quoteby{ 
                    float:right;
                    margin-bottom: $gridwidth;
                }
            }
        }
        .two-col{
            display:flex;
            flex-direction: column;
            @media screen and (min-width: 600px){
                    flex-direction: row;
            }
            margin-bottom: $gridwidth;
            .box{
                margin:$closewidth 0;
                padding:$closewidth;
                background-color: $box-background;
                color:$box-foreground;
                border-radius: $borderRadius;
                -webkit-border-radius: $borderRadius;
                -moz-border-radius: $borderRadius;
                -ms-border-radius: $borderRadius;
                -o-border-radius: $borderRadius;
                margin-bottom: $gridwidth;
                display:flex;
                flex-direction: column;
                img{
                    width:100%;
                    height:auto;
                    max-width:500px;
                    margin:0 auto;
                }
                h2{
                    color: $box-foreground;
                    text-align: center;
                    margin: $closewidth auto;
                }
                p{
                    margin:$closewidth 0;
                    color: $box-foreground;
                }
                a{
                    background-color: $background;
                    color:$foreground;
                    &:hover{
                        background-color: $hover;
                        color: $hover-foreground;
                    }
                }
                @media screen and (min-width: 600px){
                    width:calc(50% - $closewidth);
                    margin: $closewidth;
                    
                }
            }
        } 
    }
    #footer-plh{
        .footer{
            width:100%;
            height:max-content;
            background-color:$box-background;
            padding:$gridwidth;
            display:flex;
            align-items: center;
            #copy{
                p{
                    color:$box-foreground;
                }
            }
            a{
                max-width: 300px;
                color: $foreground;
                background-color: $background;
                display:flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background-color: $hover;
                    color: $hover-foreground;
                }
            }
        }
    }
}
.hide{
    display:none;
}
.red{
    background-color: red;
}
hr{
    height: 4px;
    background-color: $foreground;
    margin: $closewidth 0px;
}
/*video page*/
.wrapper.wrapper-vid{
    max-width:100%;
    @media screen and (min-width: 1060px){
        margin: 0 auto;
    }
    #cards-plh {
        margin: calc($closewidth / 2) 0 $gridwidth 0;
        display:flex;
        flex-wrap:nowrap;
        flex-direction: column;
        justify-content: center;
        @media screen and (min-width: 600px){
            flex-wrap: wrap;
            flex-direction: row;
            margin: calc($closewidth / 2) 0 $gridwidth 0;
        }
        .card-container{
            margin: calc($closewidth / 2) 0px;
            width:calc(100vw - ($gridwidth * 2));
            @media screen and (min-width: 600px){
                width:calc(((100% - ($gridwidth * 2)) / 2) - $closewidth);
                margin: calc($closewidth / 2);
            }
            @media screen and (min-width: 1500px){
                width:calc(((100% - ($gridwidth * 2)) / 4) - $closewidth);
                
            }
            border-radius: $borderRadius;
            -webkit-border-radius: $borderRadius;
            -moz-border-radius: $borderRadius;
            -ms-border-radius: $borderRadius;
            -o-border-radius: $borderRadius;
            .card{
                width:100%;
                height: 670px;
                @media screen and (min-width: 600px){
                    height:720px;
                }
                @media screen and (min-width: 1025px){
                    height: 780px;
                }
                @media screen and (min-width: 2500px){
                    height:1100px;
                }
                margin:0px;
                .card-content{
                    width: 100%;
                    height:100%;
                    border-radius: $borderRadius;
                    -webkit-border-radius: $borderRadius;
                    -moz-border-radius: $borderRadius;
                    -ms-border-radius: $borderRadius;
                    -o-border-radius: $borderRadius;
                    a{
                        height:100%;
                        display:flex;
                        flex-direction: column;
                        margin: 0;
                        border-radius: $borderRadius;
                        -webkit-border-radius: $borderRadius;
                        -moz-border-radius: $borderRadius;
                        -ms-border-radius: $borderRadius;
                        -o-border-radius: $borderRadius;
                        .card-thumb{
                            position: relative;
                            img{
                                width: 100%;
                                height: auto;
                                border-radius: $borderRadius;
                                -webkit-border-radius: $borderRadius;
                                -moz-border-radius: $borderRadius;
                                -ms-border-radius: $borderRadius;
                                -o-border-radius: $borderRadius;
                            }
                            .playbutton{
                                width: 50px;
                                height: 50px;
                                position: absolute;
                                z-index: 1000;
                                top: calc(50% - 25px);
                                left: calc(50% - 25px);
                                i{
                                    width:100%;
                                    height:100%;
                                    font-size:50px;
                                    color:$box-foreground
                                }
                            }
                        }
                        .card-text{
                            @media screen and (min-width: 1025px){
                                width: 100%
                            }
                            .card-header{
                                padding: $gridwidth
                                h2{
                                    color:$box-foreground;
                                }
                            }
                            .card-desc{
                                p{
                                    text-align: left;
                                    color:$box-foreground;
                                }
                            }
                        }
                    }
                    &:hover{
                        color: $background;
                        background-color: $foreground;
                        .card-text{
                            .card-header, .card-desc{
                                h2, p{
                                    color: $background;
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
}
.watch{
    max-width: 1000px;
    .two-col{
        display:flex;
        flex-direction: column;
        @media screen and (min-width: 600px){
            flex-direction: row;
        }
        div{
            margin: calc($closewidth / 2);
            display:flex;
            flex-direction: column;
        }
        #video-text{
            width:calc(100% - $closewidth);
            @media screen and (min-width: 600px){
                width:calc(60% - $closewidth);
                
            }
            #title{
                h1{
                    margin: 0;
                }
            }
            a.channel{
                background-color: $background;

                box-shadow: none;
                display:flex;
                flex-direction: row;
                align-items: center;
                #profile-pic{
                    width:99px;
                    margin:0;
                    img{
                        width:75px;
                        height:75px;
                        margin: $closewidth 0; 
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }
                }
                #profile-name{
                    width:40%;
                    margin:0;
                    h2{
                        width:max-content;
                        margin:0;
                    }
                }
            }
            #description{
                margin-bottom:$gridwidth;
            }
        }
        .buy{
            width:100%;
            margin:0px;
            @media screen and (min-width: 600px){
                width:calc(40% - $closewidth);
            }
            #buy-book{
                display:flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width:100%;
                margin: 0;
                a{
                    width:calc(50% - ($closewidth * 1.5));
                    margin:0 calc($closewidth / 2) $gridwidth calc($closewidth / 2);
                }
            }
            #audio-dl{
                margin-bottom: $gridwidth;
            }
        }
    }
    #playlist{
        h2{
            display:flex;
            justify-content: center;
        }
        #next-videos{
            display:flex;
            flex-direction: column;
            margin: calc($closewidth / 2) 0;
            @media screen and (min-width: 600px){
                margin: calc($closewidth / 2);
            }
            justify-content: center;
            @media screen and (min-width: 600px){
                flex-direction: row;
                flex-wrap: wrap;
            }
            .card-container{
                margin:0;
                @media screen and (min-width: 1500px){
                    width:calc(350px + $closewidth);
                }
                .card{
                    width:max-content;
                    margin:0px;
                    .card-content{
                        margin: 0px;
                        width:max-content;
                        a{
                            width:350px;
                            height:calc(400px + $closewidth);
                            padding:$closewidth;
                            margin: calc($closewidth / 2);
                            .card-thumb{
                                position: relative;
                                img{
                                    width: calc(350px - ($closewidth * 2));
                                    height: auto;
                                    border-radius: $borderRadius;
                                    -webkit-border-radius: $borderRadius;
                                    -moz-border-radius: $borderRadius;
                                    -ms-border-radius: $borderRadius;
                                    -o-border-radius: $borderRadius;
                                }
                                .playbutton{
                                    width: 50px;
                                    height: 50px;
                                    position: absolute;
                                    z-index: 1000;
                                    top: calc(50% - 25px);
                                    left: calc(50% - 25px);
                                    i{
                                        width:100%;
                                        height:100%;
                                        font-size:50px;
                                    }
                                }
                            }
                            .card-text{
                                .card-header{
                                    h2{
                                        color:$box-foreground;
                                    }
                                }
                            }
                            &:hover{
                                color: $background;
                                background-color: $foreground;
                                .card-text{
                                    .card-header, .card-desc{
                                        h2, p{
                                            color: $background;
                                        }
                                    }
                                }
                            } 
                        }
                    }
                }
            }
        }
    }
}
.author{
    .john-quote{
        .quotert{
            width:28px;
            font-size:2em;
            text-align: end;
            margin: 0 0 0 calc(100% - 28px);
        }
        p{
            i{
                font-size: 2em;
                margin: $closewidth 0;
            }
        }
        .quoteby{
            float:right;
            margin-bottom: $gridwidth;
        }
    }
}
.book-text{
    width:calc(100%);
    margin:0;
    h2{
        margin:0 auto;
        text-align: center;
    }
}
.container{
    position: relative;
    height:auto;
    width:100%;
    max-width: 1000px;
    #slider{
        overflow:hidden;
        position:relative;
        width:100%;
        margin: 0;
        .slide{
            position:absolute;
            margin: 0 0px 0 0;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            height: auto;
            width:100%;
            text-align: left;
            list-style-type: none;
            transition: all 0.5s ease;
            .book-slide{
                margin: 0 auto;
                background-color: $box-background;
                padding:$closewidth;
                width:calc((100% - ($gridwidth * 2) - ($closewidth * 2)));
                height:auto;
                display:flex;
                flex-direction: column;
                align-items: center;
                border-radius: $borderRadius;
                -webkit-border-radius: $borderRadius;
                -moz-border-radius: $borderRadius;
                -ms-border-radius: $borderRadius;
                -o-border-radius: $borderRadius;
                img{
                    margin:0 auto;
                    width:calc(100% - ($gridwidth * 2) - ($closewidth * 2));
                    max-width:400px;
                    height:auto;
                    border-radius: $borderRadius;
                    -webkit-border-radius: $borderRadius;
                    -moz-border-radius: $borderRadius;
                    -ms-border-radius: $borderRadius;
                    -o-border-radius: $borderRadius;
                }
                .slide-text{
                    color: $box-foreground;
                    width: 250px;
                    height: 120px;
                    padding-bottom: calc($closewidth * 2);
                    h2{
                        margin: $closewidth auto calc($closewidth * 2) auto;
                        text-align: center;
                        color:$box-foreground;
                    }
                }
            }
        }
    }
    #prev, #next{
        text-align:center;
        padding:10px 6px;
        position: absolute;
        top: calc(50% - (38.4px / 2));
        transform:translateY(-50%);
        z-index: 9999;
        display: inline-block;
        height: 3em;
        width: 3em;
        background-position: center center;
        background-repeat:no-repeat;
        transition: all .3s ease-in;
        background-color: $box-background;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        &:hover{
            background-color: $hover;
            i{
                color: $hover-foreground;
            }
        }
        i{
            font-size: 2em;
            color: $box-foreground;
            cursor: pointer;
            border-radius: 50%;
            text-shadow: none;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
}
    }
    #prev {
        left: 0px;
        @media screen and (min-width: 600px){
            left: 100px; 
        }
    }
    #next {
        right: 0px;
        @media screen and (min-width: 600px){
            right: 100px; 
        }
    }
}
.stext{
    padding: 0 0 $gridwidth 0;
    h2{
        padding-top: $gridwidth;
        text-align: center;
        margin: 0 auto;
    }

}
.two-col.author{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: $gridwidth calc($closewidth / 2);
    @media screen and (min-width: 600px){
        flex-direction: row;       
    }
    div{
        width:100%;
        margin:calc($gridwidth / 2);
        @media screen and (min-width: 600px){
            width:calc(50% - $closewidth);
            max-width: 1000px;
        }
        margin: calc($closewidth / 2);
    }
    .author-col{
        background-color: $box-background;
        color: $background;
        padding:$closewidth;
        max-width: 1000px;
        border-radius: $borderRadius;
        -webkit-border-radius: $borderRadius;
        -moz-border-radius: $borderRadius;
        -ms-border-radius: $borderRadius;
        -o-border-radius: $borderRadius;
        img{
            width:100%;
        }
        .john-quote{
            margin:0 $gridwidth;
            width: calc(100% - ($gridwidth * 2));
            p{
                color:$box-foreground;
            }
        }
    }
    .buy-book.author{
        display:flex;
        flex-direction: column;
        h2{
            margin-bottom: $closewidth;
        }
        .book-links{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width:100%;
            margin-bottom: $gridwidth;
            
            a{
                width: calc(50% - $closewidth);
                height: 80px;
                @media screen and (min-width: 600px){
                    height: 100px;
                }
                display:flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        
    }
}
.box.sneak.h{
    h1, h2, a{
        text-align: center;
        margin:0 auto;
    }
    a{
        max-width:400px;
    }
    margin-bottom:$gridwidth;
}
.sneak-peek{
    margin: 0 $gridwidth $gridwidth $gridwidth;
    display:flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 600px){
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .box{
        height:870px;
        background-color: $box-background;
        padding: $closewidth;
        border-radius: $borderRadius;
        -webkit-border-radius: $borderRadius;
        -moz-border-radius: $borderRadius;
        -ms-border-radius: $borderRadius;
        -o-border-radius: $borderRadius;
        margin: $closewidth 0;
        max-width:400px;
        @media screen and (min-width: 600px){
            margin: calc($closewidth / 2);
        }
        h1{
            color: $box-foreground;
        }
        h2{
            color: $box-foreground;
        }
        ul{
            list-style-type: none;
            margin: 0;
            padding:0;
        }
        a{
            margin:$closewidth 0;
            display:flex;
            justify-content: center;
            align-items: center;
            color: $foreground;
            background-color: $background;
            padding: $closewidth;
            height:120px;
            &:hover{
                color: $hover-foreground;
                background-color: $hover;
            }
        }
        li{
            list-style-type: none;
            margin:0;
            
        }
    }
}
.wrapper.email{
    max-width: 1000px;
    margin: 0 auto;
    @media screen and (min-width: 1060px){
        margin: 0 auto;
    }
    h1{
        text-align: center;
        margin: 0 auto;
        
    }
    .box{
        background-color: $box-background;
        
        padding: $closewidth;
        border-radius: $borderRadius;
        -webkit-border-radius: $borderRadius;
        -moz-border-radius: $borderRadius;
        -ms-border-radius: $borderRadius;
        -o-border-radius: $borderRadius;
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom:100px;
        h2, p{
            color: $box-foreground;
        }
        p{
            margin-top: $closewidth;
        }
        img{
            width: 50%;
            height: auto;
            border-radius: $borderRadius;
            -webkit-border-radius: $borderRadius;
            -moz-border-radius: $borderRadius;
            -ms-border-radius: $borderRadius;
            -o-border-radius: $borderRadius;
        }
        a{
            background-color: $background;
            color: $foreground;
            margin: $gridwidth 0 0 0;
            padding: calc($closewidth);
            border-radius: $borderRadius;
            -webkit-border-radius: $borderRadius;
            -moz-border-radius: $borderRadius;
            -ms-border-radius: $borderRadius;
            -o-border-radius: $borderRadius;
            display:flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: $hover;
                color: $hover-foreground;
            }
        }
    }
}
.wrapper.contact{
    max-width: 1000px;
    margin: 0 $gridwidth;
    @media screen and (min-width: 1060px){
        margin: 0 auto;
    }
    .two-col.contact-author{
        display:flex;
        flex-direction: column;
        margin:0;
        @media screen and (min-width: 600px){
            flex-direction: row;
            
        }
        div{
            width:100%;
        }
        .box.img{
            img{
                width:100%;
                height:auto;
            }
            margin:calc($closewidth/2) 0;
            @media screen and (min-width: 600px){
                margin:calc($closewidth / 2);
            }
            background-color: $box-background;
            color: $box-foreground;
            box-shadow: $shadow;
            padding: $closewidth;
            border-radius: $borderRadius;
            -webkit-border-radius: $borderRadius;
            -moz-border-radius: $borderRadius;
            -ms-border-radius: $borderRadius;
            -o-border-radius: $borderRadius;
            display:flex;
            align-items:center;
        }
        .box.text{
            margin:calc($closewidth/2) 0;
            @media screen and (min-width: 600px){
                margin:calc($closewidth / 2);
            }
            background-color: $box-background;
            color: $box-foreground;
            box-shadow: $shadow;
            padding: $closewidth;
            border-radius: $borderRadius;
            -webkit-border-radius: $borderRadius;
            -moz-border-radius: $borderRadius;
            -ms-border-radius: $borderRadius;
            -o-border-radius: $borderRadius;
            display:flex;
            flex-direction: column;
            h1{
                text-align: center;
                margin: 0 auto;
                color: $box-foreground;
            }
            .sub-text{
                h3{
                    margin:0;
                    color: $box-foreground;
                }
                p{
                    color:$box-foreground;
                }
                br{
                    display: block;
                    height:$gridwidth;
                }
            }
        }
    }
    .box.links{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin:0 0 $gridwidth 0;
        a{
            width:100%;
            background-color: $box-background;
            color:$box-foreground;
            padding: $closewidth;
            border-radius: $borderRadius;
            -webkit-border-radius: $borderRadius;
            -moz-border-radius: $borderRadius;
            -ms-border-radius: $borderRadius;
            -o-border-radius: $borderRadius;
            margin: calc($closewidth / 2) 0;
        }
        @media screen and (min-width: 600px){
            flex-direction: row;
            a{
                margin: calc($closewidth / 2);
                &:hover{
                    background-color: $hover;
                    color: $hover-foreground;
                }
            }
        }
    }
    .text.about{
        h1{
            text-align: center;
            margin: 0 auto;
            color:$foreground;
        }
        p{
            margin:$closewidth 0 $gridwidth 0;
        }
        .box{
            display:flex;
            flex-direction: column;
            background-color: $box-background;
            color: $box-foreground;
            box-shadow: $shadow;
            padding: $closewidth;
            border-radius: $borderRadius;
            -webkit-border-radius: $borderRadius;
            -moz-border-radius: $borderRadius;
            -ms-border-radius: $borderRadius;
            -o-border-radius: $borderRadius;
            margin-bottom: $gridwidth;
            h1{
                color:$box-foreground
            }
            ul{
                li{
                    color: $box-foreground;
                }
            }
        }
    }
    .text.studies,.text.lecture{
        display:flex;
        flex-direction: column;
        margin:0 $gridwidth;
        img{
            width:100px;
            height:100px;
            margin:0;
        }
        .text-image{
            width:100%;
            margin:0;
            display:flex;
            flex-direction: row;
            margin-bottom: $gridwidth;
            .text{
                margin:0 $closewidth;
                .place-year{
                    display:flex;
                    flex-direction: row;
                    p{
                        margin:0 $closewidth;
                    }
                }
            }
        }
    }
    .text.lecture{
        
        .place-year{
            display:flex;
            flex-direction: row;
            p{
                margin:0 $closewidth;
            }
        }
    }
}
iframe, #preview iframe{
    width:100%;
    min-height: 500px;
    height: max-content;
    overflow: hidden;
    border: none;
    background-color:$box-foreground;
}
#preview{
    margin:0;
}