@charset "utf-8";

/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

/*Brand Colors*/
$background:#395665;
$foreground:#fef4c8;
$accent: #e09a25;

/*Font Sizes*/
$multiplier:1.2;
$pDeskSize:calc(16px * $multiplier);
$h1DeskSize:calc(20px * $multiplier);
$h2DeskSize:calc(18px * $multiplier);

$multiTablet:1.1;
$pTabletSize:calc(16px * $multiTablet);
$h1TabletSize:calc(20px * $multiTablet);
$h2TabletSize:calc(18px * $multiTablet);

$multiPhone:1.0;
$pPhoneSize:calc(16px * $multiPhone);
$h1PhoneSize:calc(20px * $multiPhone);
$h2PhoneSize:calc(18px * $multiPhone);

/*Other Properties*/
$shadow:2px 2px 5px rgba(0, 0, 0, 0.4);
$shadow2:2px 2px 5px rgba(0, 0, 0, 0.7);
$borderRadius: 12px;

/*Grid Widths*/
$closewidth: 10px;
$gridwidth: 30px;

/*Fonts*/
@font-face {
	font-family: 'Goudy-Bookletter';
	src: url('/fonts/goudy-bookletter1911.otf') format('opentype');
}
@font-face {
	font-family: 'Legendum';
	src: url('/fonts/legendum.otf') format('opentype');
}
/*Element Defaults and Overrides*/
html{
    width:100%; /*chromium engine bug fix*/
    height:auto;
    margin: 0 auto;
    padding: 0;
}
ol, ul{
    margin-left: 35px;
}
/*Font Configurations*/
h1, h2, h3, h4, h5, h6, p, li{
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: $shadow;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: $closewidth;
    color:$accent;
    font-weight: 500;
    font-family: "Goudy-Bookletter", sans-serif;
}
p, li a{
    font-weight: 300;
    font-family: "Legendum", sans-serif;
    font-size: $pPhoneSize;
    @media screen and (min-width: 600px){
        font-size: $pTabletSize
    }
    @media screen and (min-width: 1025px){
        font-size: $pDeskSize;
    }
}
p, li, i{
    color:$foreground;
}
a{
    text-decoration: none;
    color: $foreground;
    padding:$closewidth;
    background-color: $accent;
    box-shadow: $shadow;
    border-radius: $borderRadius;
    display:block;
    text-align: center;
    width:100%;
    text-shadow: $shadow2;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: $background;
        background-color: $foreground;
    }
    
}
h1{
    font-size: $h1PhoneSize;
    @media screen and (min-width: 600px){
        font-size: $h1TabletSize
    }
    @media screen and (min-width: 1025px){
        font-size: $h1DeskSize;
    }
}
h2{
    font-size: $h2PhoneSize;
    @media screen and (min-width: 600px){
        font-size: $h2TabletSize
    }
    @media screen and (min-width: 1025px){
        font-size: $h2DeskSize;
    }
}
body{
    background-color: $background;
    #navbar-plh{
        .navbar{
            display:flex;
            flex-direction: column;
            align-items: center;
            .logo{
                max-width:400px;
                height:auto;
                margin:$gridwidth;
                margin-bottom: 0;
                display:flex;
                -webkit-filter: drop-shadow($shadow);
                filter: drop-shadow($shadow);
                
            }
            nav{
                @media screen and (min-width: 1025px){
                    display:flex;
                    justify-content: center;
                }
                ul{
                    margin: $gridwidth;
                    text-decoration: none;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    @media screen and (min-width: 600px){
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                    @media screen and (min-width: 1025px){
                        flex-wrap: nowrap;
                        max-width: 1011px;
                    }
                    li{
                        margin: calc($closewidth / 2) 0;
                        @media screen and (min-width: 600px){
                            width: calc(33.32% - $closewidth);
                            margin: calc($closewidth / 2);
                        }
                        @media screen and (min-width: 1025px){
                            width: 145px;
                        }
                    }
                }
            }
        }
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        height:max-content;
        max-width:1080px;
        margin:0 $gridwidth;
        @media screen and (min-width: calc(1080px + ($gridwidth*2))){
            margin: 0 auto;
        }
        .print-kindle{
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            .pk-card{
                width:calc(100vw - (2 * $gridwidth));
                height:max-content;
                margin: $gridwidth 0;
                max-width:600px;
                border: 50px solid transparent;
                border-image:url('/img/soil.png') 38%;
                .inner{
                    background-color: $accent;
                    height:100%;
                    width:100%;
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        width: 100%;
                        height:auto;
                        border-radius: $borderRadius;
                    }
                    p{
                        text-shadow: $shadow2;
                        margin:$closewidth;
                    }
                }
            }
        }
        .review{
            .review-text{
                .quotert{
                    width:28px;
                    font-size:2em;
                    text-align: end;
                    margin: 0 0 0 calc(100% - 28px);
                }
                p{
                    i{
                        font-size: 2em;
                        margin: $closewidth 0;
                    }
                }
                .quoteby{
                    margin-left:20%;
                    margin-bottom: $gridwidth;
                }
            }
        }  
    }
    #footer-plh{
        .footer{
            width:100%;
            height:max-content;
            background-color:$accent;
            padding:$gridwidth;
            display:flex;
            border: 50px solid transparent;
            border-width: 40px 0px 0px 0px;
            border-image:url('/img/soil.png') 38%;
            #copy{
                color:$background;
            }
        }
    }
}
.hide{
    display:none;
}
.red{
    background-color: red;
}
hr{
    height: 4px;
    background-color: $accent;
    margin: $closewidth 0px;
}