
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



:root{
    --cm-blue: #1896D3;
    --cm-yellow: #FDB128;
    --heading-text: black;
    --descriptive-text: #5a5c5a;
    --cm-white: whitesmoke; 
    --transparent-black: rgba(0, 0, 0, 0.4);
    --cm-transparent-yellow:#f7e0b6;
}

*{
    font-family: 'Inter', 'Times New Roman', Times, serif;
    
}

body{
    height: 100%;
    margin: 0;
    border: 0;
    background-color: rgba(194, 189, 189, 0.082);
    background-image: url(assets/alessio-soggetti-cfKC0UOZHJo-unsplash.jpg);

    
}

.cm-logo{
    height: 4rem;
    cursor: pointer;
    transition: .3s ease;
}

.cm-logo:hover{
    transform: scale(1.05);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid var(--descriptive-text) 1px;
    background-color: white;
}

.nav-bar{
    display: flex;
    gap: 1.85rem;
    font-size: .9rem;
    font-weight: 400;
}

.nav-bar > a{
    text-decoration: none;
    border-bottom: solid transparent 2px;
    color: var(--descriptive-text);
    transition: box-shadow 0.3s ease;

    
}

.nav-bar > .read{
    animation: readGlow 1s ease-in-out infinite alternate;
}



@keyframes readGlow {
    from {
        box-shadow: 0 .15rem 0  none;
        color: var(--descriptive-text);
    }

    to {
        box-shadow: 0 .15rem 0  var(--cm-yellow);
        color: var(--cm-yellow);
    }
}

.nav-combo > a{
    text-decoration: none;
    border-bottom: solid transparent 2px;
    color: var(--descriptive-text);
    transition: box-shadow 0.3s ease;

    
}



.nav-bar > a:hover{
    box-shadow: 0 .15rem 0  var(--cm-blue);
}

.hs-div{
    display: flex;
    justify-content: center;
}

.header-section{
    /*Don't forget to replace the image with a blurrier one at some point.
    
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

    You will forget, do not forget. 
    */

    margin-top: 3.5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;  
    align-items: center;
    background-image: url('assets/Church_Background.webp');
    background-size: cover;
    height: 500px;
    width: 70rem;
    border-radius: 30px;
    box-shadow: 2px 2px 10px gray;
    
    
}

.bib-eq-slogan{

}

.bib-eq{
    font-size: 4rem;
    font-weight: 700;
    color: whitesmoke;
    margin: 0;
}


.bib-eq-caption{
    font-size: 1.75rem;
    font-weight: 200;
    max-width: 25ch;
    color: whitesmoke;
    margin: 0;

}


.purchase{
    font-size: 2rem;
    font-weight: 600;
    color: whitesmoke;
    padding: 2.5rem;
    border: solid var(--cm-blue) .15rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--transparent-black);
    transition: font-size .25s ease-in-out, border .15s ease-in-out;
}



.purchase:hover{
cursor: pointer;
font-size: 2.05rem;
border: solid var(--cm-yellow) .25rem;

}

.info-section{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 70rem;
}

.info-head{
    margin-top: 3.5rem;
    font-size: 2rem;
    font-weight: 700;
}

.info-head-2{
    font-size: 2rem;
    font-weight: 700;
}


.info-tail{
    margin-bottom: 3.5rem;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 200;
}

.tabs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70rem;
    gap: 2rem;
}

.tab{
    gap: 10rem;
    border: solid var(--cm-blue);
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    max-width: 70rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color:#f7e0b6;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.829);
    border-radius: 13px;
    transition: border .2s ease-in-out, transform .1s ease-in-out;

}

.tab:hover{
    border: solid var(--cm-yellow);
    transform: scale(1.02);
}

.qsvg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    width: 100%;
    
}


.qsvg > p{
    padding-left: 2rem;
}

.qsvg > svg{
    padding-right: 1rem;
}

.comment-hidden{
    display: none;
    padding-left: 2rem;
}


.comment{
    padding-left: 2rem;
    padding-right: 2rem;
    display: block;
    color: var(--descriptive-text);
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 2rem;
}

.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-items-invisible{
    margin-top: 2rem;
    height: 2rem;
    width: 2rem;
    background-color: black;
    position: absolute;
    display: none;
}

.menu-items{
    margin-top: 2rem;
    margin-right: 8rem;
    height: 16rem;
    width: 10rem;
    background-color: white;
    box-shadow: 1px 3px 5px var(--descriptive-text);
    position: absolute;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 2rem;
    font-size: 1rem;
    font-weight: 500;
    gap: 1rem;
    border-radius: 13px;
}

.menu-items > a{
    text-decoration: none;
}

.nav-combo{
    display: flex;
    align-items: center;
    color: var(--descriptive-text);
    transition: box-shadow 0.3s ease;
    gap: 1rem;
}

.nav-combo > a{
    border-bottom: 0;
}

.nav-combo:hover{
    box-shadow: 0 .15rem 0  var(--cm-blue);
}




footer{
    margin-top: 3.5rem;
    padding: 1.5rem;
    font-size: .9rem;
    text-align: center;
    background-color: var(--cm-blue);
    color: var(--cm-white);
}

.hiddenmenu{
    display: none;
}

.hiddenmenu:hover{
    cursor: pointer;
}


.nav-element{
    display: block
}

.purchase-hidden{
    display: none;
}


.content-container{
    min-height: 100vh;
}

.info-and-book{
    display: flex;
}

.bib-image{
    max-height: 15rem;
    max-width: 5rem;
    
}

.mp3tabs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    gap: 1.1rem;
}

.tabmp3{
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
    padding: 1rem;
    background-color: var(--cm-transparent-yellow);
    border: solid var(--cm-blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
    max-height: 40px;
    max-width: 300px;
    transition: border .2s ease-in-out, transform .1s ease-in-out;
    box-shadow: 2px 2px 5px rgba(133, 133, 133, 0.829);

    
}

.tabmp3 > svg{
    min-width: 1.5rem;
    min-height: 1.5rem;
}

.tabmp3:hover{
    border: solid var(--cm-yellow);
    transform: scale(1.02);
}

.tabcombo{
    display: flex;
    align-items: center;
    color: var(--cm-blue);
    gap: 1rem;
}



@media (width < 1160px) {
    .header-section{
        /*Don't forget to replace the image with a blurrier one at some point.
        
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    
        You will forget, do not forget. 
        */
    
        height: 400px;
        width: 60rem;

        
        
    }

    .info-section{
        width: 60rem;
    }

    .tabs{
        width: 60rem;
    }
}

@media (width < 1005px){
    .header-section{
        /*Don't forget to replace the image with a blurrier one at some point.
        
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    
        You will forget, do not forget. 
        */
    
        height: 350px;
        width: 50rem;
        gap: 3rem;

        
        
    }

    .info-section{
        width: 50rem;
    }

    .tabs{
        width: 50rem;
    }

    .purchase{
        font-size: 1.5rem;
    }

    .purchase:hover{
        font-size: 1.6rem;
    }

    .bib-eq{
        font-size: 3rem;
    }

    .bib-eq-caption{
        font-size: 1.25rem;
    }
}


@media (width < 840px){

    .info-section{
        width: 40rem;
    }

    .info-head{
        font-size: 1.5rem;
    }

    .info-head-2{
        font-size: 1.5rem;
    }

    .tabs{
        width: 40rem;
    }

    .tabmp3{
        font-size: .85rem;
    }
}


@media (width < 810px) {
    .header-section{
        border-radius: 0px;
    }
}

@media (width < 707px) {
   .header-section{
    gap: 1rem;
    flex-direction: column;
    text-align: center;

   }
   
   .bib-eq{
    font-size: 2.5rem;
   }

   .hidemenu{
    display: block;
   }

   .header{
    flex-direction: column;
   }

   .mp3tabs{
    grid-template-columns: 1fr;
}

.tabmp3{
    font-size: 1.3rem;
}

}


@media (width < 680px) {

    .info-section{
        width: 35rem;
    }

    .tabs{
        width: 35rem;
    }

    .tab{
        font-size: 1.5rem;
    }

    .comment{
        font-size: 1.3rem;
    }

    footer{
        font-size: .75rem;
    }
    
}

@media (width < 587px) {
    .info-section{
        width: 25rem;
    }

    .tabs{
        width: 25rem;
    }

    .tab{
        font-size: 1.2rem;
    }

    .comment{
        font-size: 1.1rem;
    }
}



@media (width < 530px) {
    .header{
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    
    
    }

    .header > nav > a{
        display: none;
    }

    .hiddenmenu{
        display: block;
    }

    .header-section{
        margin-top: 2rem;
    }

    .nav-bar{
        font-size: .5rem;
    }
}

@media (width < 432px) {
    .info-section{
        width: 22rem;
    }

    .info-head{
        font-size: 1.2rem;
    }

    .info-head-2{
        font-size: 1.2rem;
    }

    .info-tail{
        font-size: 1.2rem;
    }

    .blurb{
        font-size: .9rem;
    }

    .tabs{
        width: 22rem;
    }

    .tab{
        font-size: 1rem;
    }

    .comment{
        font-size: .9rem;
    }

    

}

@media (width < 400px) {

.bib-eq{
    font-size: 2rem;
}

.bib-eq-caption{
    font-size: 1rem;
}

.purchase{
    padding: 2rem;
}

}

@media (width < 384px) {
    .info-section{
        width: 20rem;
    }

    .info-head{
        font-size: 1.1rem;
    }

    .info-head-2{
     font-size: 1.1rem;   
    }

    .info-tail{
        font-size: 1rem;
    }

    .blurb{
        font-size: .9rem;
    }

    .tabs{
        width: 20rem;
    }

    .tab{
        font-size: .85rem;
    }

    .comment{
        font-size: .9rem;
    }
    .tabmp3{
        font-size: 1rem;
        max-width: 250px;
    }

}


.nav-visible{
    display: block;
}

.nav-hidden{
    display: none;
}


@media (width > 530px) {
    .nav-visible{
        display: none;
    }

    .menu-items{
        display: none;
    }
    }